[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "modes/coffee-mode"]
	path = modes/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "modes/markdown-mode"]
	path = modes/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "deft"]
	path = deft
	url = git@github.com:jrblevin/deft.git
[submodule "modes/json-mode"]
	path = modes/json-mode
	url = git://github.com/joshwnj/json-mode.git
[submodule "modes/web-mode"]
	path = modes/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "modes/yaml-mode"]
	path = modes/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "modes/scss-mode"]
	path = modes/scss-mode
	url = git@github.com:antonj/scss-mode.git
[submodule "modes/puppet-syntax-emacs"]
	path = modes/puppet-syntax-emacs
	url = git@github.com:puppetlabs/puppet-syntax-emacs.git
[submodule "modes/git-modes"]
	path = modes/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "modes/jade-mode"]
	path = modes/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "modes/sass-mode"]
	path = modes/sass-mode
	url = git@github.com:nex3/sass-mode.git
[submodule "modes/haml-mode"]
	path = modes/haml-mode
	url = git@github.com:nex3/haml-mode.git
[submodule "modes/js2-mode"]
	path = modes/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "modes/rust-mode"]
	path = modes/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "modes/toml-mode"]
	path = modes/toml-mode
	url = git@github.com:dryman/toml-mode.el.git
