[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "modes/coffee-mode"]
	path = modes/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "modes/markdown-mode"]
	path = modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "deft"]
	path = deft
	url = git://jblevins.org/git/deft.git
[submodule "modes/json-mode"]
	path = modes/json-mode
	url = git://github.com/joshwnj/json-mode.git
[submodule "modes/web-mode"]
	path = modes/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "modes/yaml-mode"]
	path = modes/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "modes/scss-mode"]
	path = modes/scss-mode
	url = git@github.com:antonj/scss-mode.git
[submodule "modes/puppet-syntax-emacs"]
	path = modes/puppet-syntax-emacs
	url = git@github.com:puppetlabs/puppet-syntax-emacs.git
[submodule "modes/git-modes"]
	path = modes/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "modes/jade-mode"]
	path = modes/jade-mode
	url = git@github.com:brianc/jade-mode.git
